In [1]:
import pandas as pd

In [2]:
import FundamentalAnalysis as fa
api_key = "key"

In [3]:
#comparison values
ticker="AAPL"

balance_sheet = fa.balance_sheet_statement("AAPL", api_key, period="annual")
income_statement = fa.income_statement("AAPL", api_key, period="annual")
cash_flow_statement = fa.cash_flow_statement("AAPL", api_key, period="annual")

IS = income_statement.transpose()
CF = cash_flow_statement.transpose()
BS = balance_sheet.transpose()
ratios = fa.financial_ratios("AAPL", api_key, period="annual").transpose()

IS_compare=IS.columns.values
CF_compare=CF.columns.values
BS_compare=BS.columns.values
ratios_compare=ratios.columns.values

In [4]:
companies=pd.read_csv("Data\\FMP\\FMP_tickers.csv")
Concatenate=pd.read_csv("FMP_Concatenate.csv")

In [25]:
Concatenate.dropna(subset=["fillingDate"], inplace=True)

In [6]:
companies.set_index("Unnamed: 0", inplace=True)
companies.index.name = None
companies.reset_index(drop=True, inplace = True)
Concatenate.set_index("Unnamed: 0", drop = True, inplace = True)
Concatenate.index.name = None

In [7]:
Concatenate.rename(columns={"fillingDate.1": "fillingDate", \
                            "acceptedDate.1": "acceptedDate",\
                           "period.1":"period",\
                            "inventory.1": "inventory",\
                            'link.1':'link',\
                            'finalLink.1':'finalLink',\
                            'fillingDate.2':'fillingDate',\
                            'acceptedDate.2':'acceptedDate',\
                            'period.2':'period',\
                            'depreciationAndAmortization.1':'depreciationAndAmortization',\
                            'netIncome.1':'netIncome',\
                            'link.2':'link',\
                            'finalLink.2':'finalLink'}, inplace = True)

In [8]:
skipped_list=[]
IS_compare_l=31
CF_compare_l=35
BS_compare_l=44
ratios_compare_l=54

In [21]:
i=22000
while i <22500:
    
    ticker=companies["symbol"][i]
    print(i)
    i+=1
    
    if not ticker in Concatenate['Ticker'].unique():
                
        try:
            
            balance_sheet = fa.balance_sheet_statement(ticker, api_key, period="annual")
            income_statement = fa.income_statement(ticker, api_key, period="annual")
            cash_flow_statement = fa.cash_flow_statement(ticker, api_key, period="annual")
            IS = income_statement.transpose()
            CF = cash_flow_statement.transpose()
            BS = balance_sheet.transpose()
            ratios = fa.financial_ratios(ticker, api_key, period="annual").transpose()
            


            if IS_compare_l!=len(IS.columns.values):
                for col in IS_compare:
                    try:
                        IS.insert(0,col,"")
                    except Exception as e:
                        print(e)
                        continue
            if CF_compare_l!=len(CF.columns.values):
                for col in CF_compare:
                    try:
                        CF.insert(0,col,"")
                    except Exception as e:
                        print(e)
                        continue
            if BS_compare_l!=len(BS.columns.values):
                for col in BS_compare:
                    try:
                        BS.insert(0,col,"")
                    except Exception as e:
                        print(e)
                        continue
            if ratios_compare_l!=len(ratios.columns.values):
                for col in ratios_compare:
                    try:
                        ratios.insert(0,col,"")
                    except Exception as e:
                        print(e)
                        continue

            
            Concatenate_this = pd.concat([BS, CF, IS, ratios], axis=1, sort=False)
            Concatenate_this.insert(0,"Ticker",ticker)
            Concatenate_this.reset_index(inplace=True)

            Concatenate = Concatenate.append(Concatenate_this, ignore_index=True, sort=False)
            
        except Exception as e:
            
            skipped_list.append(ticker)
            
            
    else:
        print (ticker + " already in list")

22000
22001
22002
22003
22004
22005
22006
22007
22008
22009
22010
22011
22012
22013
22014
22015
22016
22017
22018
22019
22020
22021
22022
22023
22024
22025
22026
22027
22028
22029
22030
22031
22032
22033
22034
22035
22036
22037
22038
22039
22040
22041
22042
22043
22044
22045
22046
22047
22048
22049
22050
22051
22052
22053
22054
22055
22056
22057
22058
22059
22060
22061
22062
22063
22064
22065
22066
22067
22068
22069
22070
22071
22072
22073
22074
22075
22076
22077
22078
22079
22080
22081
22082
22083
22084
22085
22086
22087
22088
22089
22090
22091
22092
22093
22094
22095
22096
22097
22098
22099
22100
22101
22102
22103
22104
22105
22106
22107
22108
22109
22110
22111
22112
22113
22114
22115
22116
22117
22118
22119
22120
22121
22122
22123
22124
22125
22126
22127
22128
22129
22130
22131
22132
22133
22134
22135
22136
22137
22138
22139
22140
22141
22142
22143
22144
22145
22146
22147
22148
22149
22150
22151
22152
22153
22154
22155
22156
22157
22158
22159
22160
22161
22162
22163
22164
22165
22166
22167
22168
22169
22170
22171
22172
22173
22174
22175
22176
22177
22178
22179
22180
22181
22182
22183
22184
22185
22186
22187
22188
22189
22190
22191
22192
22193
22194
22195
22196
22197
22198
22199
22200
22201
22202
22203
22204
22205
22206
22207
22208
22209
22210
22211
22212
22213
22214
22215
22216
22217
22218
22219
22220
22221
22222
22223
22224
22225
22226
22227
22228
22229
22230
22231
22232
22233
22234
22235
22236
22237
22238
22239
22240
22241
22242
22243
22244
22245
22246
22247
22248
22249
22250
22251
22252
22253
22254
22255
22256
22257
22258
22259
22260
22261
22262
22263
22264
22265
22266
22267
22268
22269
22270
22271
22272
22273
22274
22275
22276
22277
22278
22279
22280
22281
22282
22283
22284
22285
22286
22287
22288
22289
22290
22291
22292
22293
22294
22295
22296
22297
22298
22299
22300
22301
22302
22303
22304
22305
22306
22307
22308
22309
22310
22311
22312
22313
22314
22315
22316
22317
22318
22319
22320
22321
22322
22323
22324
22325
22326
22327
22328
22329
22330
22331
22332
22333
22334
22335
22336
22337
22338
22339
22340
22341
22342
22343
22344
22345
22346
22347
22348
22349
22350
22351
22352
22353
22354
22355
22356
22357
22358
22359
22360
22361
22362
22363
22364
22365
22366
22367
22368
22369
22370
22371
22372
22373
22374
22375
22376
22377
22378
22379
22380
22381
22382
22383
22384
22385
22386
22387
22388
22389
22390
22391
22392
22393
22394
22395
22396
22397
22398
22399
22400
22401
22402
22403
22404
22405
22406
22407
22408
22409
22410
22411
22412
22413
22414
22415
22416
22417
22418
22419
22420
22421
22422
22423
22424
22425
22426
22427
22428
22429
22430
22431
22432
22433
22434
22435
22436
22437
22438
22439
22440
22441
22442
22443
22444
22445
22446
22447
22448
22449
22450
22451
22452
22453
22454
22455
22456
22457
22458
22459
22460
22461
22462
22463
22464
22465
22466
22467
22468
22469
22470
22471
22472
22473
22474
22475
22476
22477
22478
22479
22480
22481
22482
22483
22484
22485
22486
22487
22488
22489
22490
22491
22492
22493
22494
22495
22496
22497
22498
22499

In [24]:
Concatenate.to_csv("FMP_Concatenate.csv")
#companies.to_csv("Data\\FMP\\FMP_tickers.csv")

In [18]:
len(companies)

26467

In [26]:
Concatenate["Ticker"].describe()

count     58472
unique     4851
top        UMBF
freq         27
Name: Ticker, dtype: object

In [16]:
Concatenate.tail(50)

,index,Ticker,fillingDate,acceptedDate,period,cashAndCashEquivalents,shortTermInvestments,cashAndShortTermInvestments,netReceivables,inventory,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
58471,2003,AAB.TO,None,None,FY,100000,0,100000,0,0,...,NaN,-1.26,-0.875,-1.05,-1.05,0.101951,NaN,NaN,-2.86,-0.7875
58472,2019,AAA.AS,None,None,FY,0,0,0,0,0,...,NaN,-4.99476,NaN,NaN,NaN,5.67159,NaN,NaN,-4.99476,0.410853
58473,2018,AAA.AS,None,None,FY,0,0,0,0,0,...,NaN,-0.147616,NaN,NaN,NaN,0.16762,NaN,NaN,-0.147616,0.448649
58474,2017,AAA.AS,None,None,FY,0,0,0,0,0,...,NaN,2.76749,NaN,NaN,NaN,-3.14251,NaN,NaN,2.76749,0.976717
58475,2016,AAA.AS,None,None,FY,0,0,0,0,0,...,NaN,3.91695,NaN,NaN,NaN,-4.44774,NaN,NaN,3.91695,0.94648
58476,2015,AAA.AS,None,None,FY,0,0,0,0,0,...,NaN,3.39537,NaN,NaN,NaN,-3.85547,NaN,NaN,3.39537,0.777091
58477,2014,AAA.AS,None,None,FY,0,0,0,0,0,...,19712.2,11.6906,NaN,NaN,NaN,-13.2749,19712.2,NaN,11.6906,1.10355
58478,2013,AAA.AS,None,None,FY,0,0,0,0,0,...,12707.7,7.08968,38.8177,38.8177,38.8177,-8.03574,12707.7,NaN,7.08968,1.2438
58479,2012,AAA.AS,None,None,FY,0,0,0,0,1666400000,...,52.2862,5.2971,15.1264,15.1264,15.1264,-7.44998,52.2862,NaN,2.81904,0.90964
58480,2011,AAA.AS,None,None,FY,0,0,0,0,1480200000,...,25.4207,-7.6644,35.2563,35.2563,35.2563,12.1214,25.4207,0.0288795,-3.49676,0.655321
58481,2010,AAA.AS,None,None,FY,0,0,0,0,1637100000,...,56.4367,2.87591,19.1394,19.1394,19.1394,-4.75796,56.4367,0.00643638,1.46954,0.645503
58482,2009,AAA.AS,None,None,FY,0,0,0,0,1324900000,...,20.4315,1.75607,NaN,NaN,NaN,-2.99201,20.4315,NaN,0.827537,0.622587
58483,2008,AAA.AS,None,None,FY,0,0,0,0,854400000,...,5.93553,-0.213217,6.36278,6.36278,6.36278,0.363281,5.93553,0.168932,-0.108123,0.309613
58484,2007,AAA.AS,None,None,FY,0,0,0,0,2132800000,...,50.2283,6.79425,96.2205,96.2205,96.2205,-11.5316,50.2283,0.0115197,3.53948,0.74936
58485,2006,AAA.AS,None,None,FY,0,0,0,0,1918700000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58486,2019,AA,2020-02-21 00:00:00,2020-02-21 16:28:32,FY,879000000,0,879000000,660000000,1644000000,...,0.253393,-2.34991,8.61124,3.85372,3.85372,-1.73893,0.253393,NaN,28.7391,0.642911
58487,2018,AA,2019-02-26 00:00:00,2019-02-25 20:41:48,FY,1113000000,0,1113000000,1003000000,1819000000,...,0.417258,22.37,114.133,12.4833,12.4833,16.9118,0.417258,NaN,3.41889,0.995463
58488,2017,AA,2018-02-26 00:00:00,2018-02-23 18:40:50,FY,1358000000,0,1358000000,1043000000,1453000000,...,0.84288,35.2016,11.9917,8.02389,8.02389,26.3308,0.84288,NaN,5.70425,2.1714
58489,2016,AA,2017-03-15 00:00:00,2017-03-15 17:29:53,FY,853000000,0,853000000,834000000,1160000000,...,0.71782,-16.7216,-9.35476,-21.5069,-21.5069,-12.2402,0.71782,NaN,9.7445,1.18299
58490,2015,AA,None,None,FY,557000000,0,557000000,504000000,1172000000,...,0.281441,-3.65221,6.5121,3.60212,3.60212,-2.66564,0.281441,NaN,-103.772,0.333812
58491,2014,AA,None,None,FY,266000000,0,266000000,712000000,1501000000,...,0.508092,-26.0933,16.7836,7.93336,7.93336,-18.9959,0.508092,NaN,11.5582,0.630238
58492,2013,AA,None,None,FY,0,0,0,0,0,...,0.40224,-1.73852,-43.9771,11.1889,11.1889,-1.26564,0.40224,NaN,-2.42559,NaN
58493,2012,AA,None,None,FY,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58494,2011,AA,None,None,FY,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58495,2019,A,2019-12-19 00:00:00,2019-12-19 17:11:01,FY,1382000000,0,1382000000,930000000,679000000,...,4.94133,23.8208,29.4937,24.9874,24.9874,23.9716,4.94133,0.0080746,21.5565,5.37323
58496,2018,A,2018-12-20 00:00:00,2018-12-20 16:27:07,FY,2247000000,0,2247000000,776000000,638000000,...,4.71094,73.2581,25.4391,21.2967,21.2967,75.3445,4.71094,0.0082507,33.4338,5.06888
58497,2017,A,2017-12-21 00:00:00,2017-12-21 16:27:19,FY,2678000000,0,2678000000,724000000,575000000,...,4.92492,32.1992,30.8895,24.7742,24.7742,33.2181,4.92492,0.00771877,19.4307,4.55894
58498,2016,A,2016-12-20 00:00:00,2016-12-20 16:22:19,FY,2289000000,0,2289000000,631000000,533000000,...,3.32758,30.2652,21.38,17.6324,17.6324,31.5102,3.32758,0.0107277,15.7744,3.29543
58499,2015,A,2015-12-21 00:00:00,2015-12-18 19:33:31,FY,2003000000,0,2003000000,606000000,541000000,...,3.31692,33.4008,10.9426,10.1314,10.1314,35.4091,3.31692,0.00993002,17.1204,3.21424
58500,2014,A,2014-12-22 00:00:00,2014-12-22 16:05:26,FY,3028000000,0,3028000000,983000000,1072000000,...,1.95809,27.1218,27.0146,19.2256,19.2256,29.01,1.95809,0.0128755,11.7265,2.5801
58501,2013,A,2013-12-19 00:00:00,2013-12-19 16:32:11,FY,2675000000,0,2675000000,899000000,1066000000,...,1.82736,17.1176,12.95,10.7579,10.7579,18.6885,1.82736,0.0125876,9.28036,2.34452
58502,2012,A,2012-12-20 00:00:00,2012-12-20 16:50:44,FY,2351000000,0,2351000000,923000000,1014000000,...,1.30794,7.77956,8.67489,7.30443,7.30443,8.69046,1.30794,0.0115944,6.0421,1.73096
58503,2011,A,2011-12-16 00:00:00,2011-12-16 16:51:36,FY,3527000000,0,3527000000,860000000,898000000,...,1.32555,8.66453,8.17957,6.95913,6.95913,9.73388,1.32555,NaN,5.23231,2.0354
58504,2010,A,2010-12-20 00:00:00,2010-12-17 19:41:22,FY,2649000000,0,2649000000,869000000,716000000,...,1.49568,11.9042,13.639,11.3405,11.3405,13.298,1.49568,NaN,7.76109,2.52245
58505,2009,A,2009-12-21 00:00:00,2009-12-21 16:38:45,FY,2479000000,0,2479000000,595000000,552000000,...,1.47084,-212.607,23.5386,16.154,16.154,-232.791,1.47084,NaN,27.2989,2.63001
58506,2008,A,2008-12-19 00:00:00,2008-12-19 17:27:11,FY,1405000000,0,1405000000,770000000,646000000,...,0.796918,6.63983,7.64352,6.08651,6.08651,7.7955,0.796918,NaN,4.67199,1.79812
58507,2007,A,2007-12-21 00:00:00,2007-12-21 17:22:11,FY,1826000000,0,1826000000,735000000,643000000,...,1.86651,15.8565,12.4128,10.4401,10.4401,20.3726,1.86651,NaN,10.9007,3.12816
58508,2006,A,2006-12-22,2006-12-22 17:01:47,FY,2262000000,0,2262000000,692000000,627000000,...,1.85976,2.79668,20.5982,14.5877,14.5877,3.90296,1.85976,NaN,2.29927,2.53525
58509,2005,A,2006-01-17,2006-01-17 16:47:54,FY,2226000000,0,2226000000,753000000,722000000,...,2.15323,33.8393,14.5598,12.3086,12.3086,53.5432,2.15323,NaN,12.3975,2.71146
58510,2004,A,2004-12-21 00:00:00,2004-12-21 06:14:39,FY,2315000000,0,2315000000,1044000000,1026000000,...,0.969335,19.945,12.7721,10.4989,10.4989,30.9273,0.969335,NaN,8.01631,1.95035
58511,2003,A,2003-12-22 00:00:00,2003-12-22 17:25:07,FY,1607000000,0,1607000000,1086000000,995000000,...,1.37079,-4.03378,-23.7866,-57.6495,-57.6495,-6.03791,1.37079,NaN,-12.9448,2.93963
58512,2002,A,2002-12-20 00:00:00,2002-12-20 17:27:53,FY,1844000000,0,1844000000,1119000000,1184000000,...,0.932012,-5.4277,-7.0105,-11.2478,-11.2478,-7.98697,0.932012,NaN,-5.97006,1.21059
58513,2001,A,2002-01-22 00:00:00,2002-01-22 00:00:00,FY,1170000000,0,1170000000,1214000000,1491000000,...,0.923201,44.5471,12.4818,5.16058,5.16058,64.5651,0.923201,NaN,7.87,1.36971
58514,2000,A,2001-01-17 00:00:00,2001-01-17 00:00:00,FY,996000000,0,996000000,2201000000,1853000000,...,1.36791,19.467,1052.61,17.5854,17.5854,28.0301,1.36791,NaN,8.34873,2.79896
58515,1999,A,None,None,FY,0,0,0,1635000000,1499000000,...,1.19423,19.4319,368.486,21.5816,21.5816,23.3674,1.19423,NaN,7.88361,2.94179
58516,1998,A,None,None,FY,0,0,0,1215000000,1485000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58517,1997,A,None,None,FY,0,0,0,1234000000,1432000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58518,1996,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58519,1995,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58520,1994,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
from pandas_datareader import data

C:\Users\Vincent\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [60]:
prices =panel_data

In [59]:
panel_data = data.DataReader('A', 'yahoo', '2010-01-01', '2019-01-01')

In [63]:
panel_data.insert(0, "Ticker", "A")
panel_data.reset_index(inplace=True)

,Date,Ticker,High,Low,Open,Close,Volume,Adj Close
0,2010-01-04,A,22.625179,22.267525,22.453505,22.389128,3815500.0,20.579165
1,2010-01-05,A,22.331903,22.002861,22.324749,22.145924,4186000.0,20.355618
2,2010-01-06,A,22.174536,22.002861,22.067240,22.067240,3243700.0,20.283297
3,2010-01-07,A,22.045780,21.816881,22.017168,22.038626,3095100.0,20.257004
4,2010-01-08,A,22.067240,21.745350,21.917025,22.031473,3733900.0,20.250422
...,...,...,...,...,...,...,...,...
2259,2018-12-24,A,63.630001,62.220001,62.930000,62.669998,1668500.0,61.588318
2260,2018-12-26,A,65.580002,62.759998,62.930000,65.540001,1701800.0,64.408783
2261,2018-12-27,A,66.500000,64.000000,64.500000,66.480003,1655000.0,65.332565
2262,2018-12-28,A,67.120003,65.709999,66.980003,65.959999,1927700.0,64.981842
2263,2018-12-31,A,67.480003,66.339996,66.339996,67.459999,1572100.0,66.459595

In [1]:
for ticker in Concatenate['Ticker'].unique():
    try:
        add = data.DataReader(ticker, 'yahoo', '2010-01-01', '2019-01-01')
        add.insert(0, "Ticker", ticker)
        add.reset_index(inplace=True)
        panel_data=panel_data.append(add, ignore_index=True, sort=False)
    except KeyError:
        pass

panel_data.to_csv("Yahoo_Prices")

In [72]:
shareprices=panel_data.groupby(by=["Ticker",pd.Grouper(key="Date", freq="M")], as_index=True).last()

In [74]:
shareprices.reset_index(drop=False, inplace = True)

In [75]:
shareprices

,Ticker,Date,High,Low,Open,Close,Volume,Adj Close
0,A,2010-01-31,20.865522,19.971388,20.693848,20.050072,5923000.0,18.429201
1,A,2010-02-28,22.546495,22.160229,22.296137,22.503576,4678100.0,20.684364
2,A,2010-03-31,24.735336,24.527897,24.713877,24.599428,5293300.0,22.610779
3,A,2010-04-30,26.773962,25.915594,26.645208,25.937054,4195600.0,23.840269
4,A,2010-05-31,23.497854,23.004292,23.433475,23.147354,3430600.0,21.276091
...,...,...,...,...,...,...,...,...
2731,ZYXI,2018-08-31,3.160000,3.020000,3.130000,3.080000,25900.0,2.998641
2732,ZYXI,2018-09-30,3.080000,2.980000,3.080000,2.980000,20400.0,2.901283
2733,ZYXI,2018-10-31,3.100000,2.900000,3.050000,3.070000,24900.0,2.988905
2734,ZYXI,2018-11-30,3.100000,2.940000,3.070000,3.100000,3800.0,3.018113
2735,ZYXI,2018-12-31,3.000000,2.600000,2.600000,2.940000,21800.0,2.940000

In [76]:
shareprices.to_csv("shareprices_Yahoo.csv")

In [48]:
len(companies)

26467

In [12]:
fa.stock_data_detailed("AAPL", api_key, begin="1990-01-01", end="2020-01-01")

,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
2019-12-31,72.4825,73.42,72.38,73.4125,72.9095,1.00806e+08,1.00806e+08,0.93,1.283,73.0708,"December 31, 19",0.01283
2019-12-30,72.365,73.1725,71.305,72.88,72.3807,1.44114e+08,1.44114e+08,0.515,0.712,72.4525,"December 30, 19",0.00712
2019-12-27,72.78,73.4925,72.03,72.45,71.9536,1.46266e+08,1.46266e+08,-0.33,-0.453,72.6575,"December 27, 19",-0.00453
2019-12-26,71.205,72.495,71.175,72.4775,71.9809,9.31212e+07,9.31212e+07,1.2725,1.787,72.0492,"December 26, 19",0.01787
2019-12-24,71.1725,71.2225,70.73,71.0675,70.5806,4.84788e+07,4.84788e+07,-0.105,-0.148,71.0067,"December 24, 19",-0.00148
...,...,...,...,...,...,...,...,...,...,...,...,...
1990-01-08,0.334821,0.339286,0.330357,0.339286,0.273955,1.01573e+08,1.01573e+08,0.00446,1.332,0.33631,"January 08, 90",0.01332
1990-01-05,0.337054,0.341518,0.330357,0.337054,0.272153,1.23312e+08,1.23312e+08,0,0,0.33631,"January 05, 90",0
1990-01-04,0.341518,0.345982,0.332589,0.335938,0.271252,2.21514e+08,2.21514e+08,-0.00558,-1.634,0.33817,"January 04, 90",-0.01634
1990-01-03,0.339286,0.339286,0.334821,0.334821,0.270351,2.07995e+08,2.07995e+08,-0.00446,-1.315,0.33631,"January 03, 90",-0.01315
1990-01-02,0.314732,0.334821,0.3125,0.332589,0.268548,1.83198e+08,1.83198e+08,0.01786,5.675,0.32664,"January 02, 90",0.05675

In [16]:
fa.stock_data("AAPL",period="max", interval="1mo", start="1990-01-01", end="2020-10-01").tail(50)

                 high      close        low      volume       open   adjclose
2015-11-01  30.955000  29.575001  27.750000  3002562400  30.200001  27.330675
2015-12-01  29.965000  26.315001  26.205000  3687660800  29.687500  24.422157
2016-01-01  26.462500  24.334999  23.097500  5087392000  25.652500  22.584578
2016-02-01  24.722500  24.172501  23.147499  3243450400  24.117500  22.433773
2016-03-01  27.605000  27.247499  24.355000  2984198400  24.412500  25.424799
2016-04-01  28.097500  23.434999  23.127501  3489534800  27.195000  21.867334
2016-05-01  25.182501  24.965000  22.367500  3602686000  23.492500  23.294987
2016-06-01  25.472500  23.900000  22.875000  3117990800  24.754999  22.437010
2016-07-01  26.137501  26.052500  23.592501  2743118400  23.872499  24.457745
2016-08-01  27.557501  26.525000  26.000000  2520514000  26.102501  24.901323
2016-09-01  29.045000  28.262501  25.632500  3872062400  26.535000  26.676199
2016-10-01  29.672501  28.385000  28.070000  2747657200  28.177500  26.791819
2016-11-01  28.442499  27.629999  26.020000  2886220000  28.365000  26.079195
2016-12-01  29.504999  28.955000  27.062500  2435086800  27.592501  27.470144
2017-01-01  30.610001  30.337500  28.690001  2252488000  28.950001  28.781750
2017-02-01  34.369999  34.247501  31.752501  2299874400  31.757500  32.491241
2017-03-01  36.125000  35.915001  34.262501  2246513600  34.472500  34.220959
2017-04-01  36.365002  35.912498  35.014999  1493216400  35.927502  34.218575
2017-05-01  39.162498  38.189999  36.067501  2615927200  36.275002  36.388645
2017-06-01  38.994999  36.005001  35.549999  2736712400  38.292500  34.448315
2017-07-01  38.497501  37.182499  35.602501  1688047600  36.220001  35.574905
2017-08-01  41.130001  41.000000  37.102501  2644276000  37.275002  39.227352
2017-09-01  41.235001  38.529999  37.290001  2721496400  41.200001  37.008904
2017-10-01  42.412498  42.259998  38.115002  2017165200  38.564999  40.591652
2017-11-01  44.060001  42.962502  41.320000  2402653600  42.467499  41.266426
2017-12-01  44.299999  42.307499  41.615002  2124735200  42.487499  40.783367
2018-01-01  45.025002  41.857498  41.174999  2638717600  42.540001  40.349579
2018-02-01  45.154999  44.529999  37.560001  3711577200  41.792500  42.925804
2018-03-01  45.875000  41.945000  41.235001  2854910800  44.634998  40.598782
2018-04-01  44.735001  41.314999  40.157501  2664617200  41.660000  39.988998
2018-05-01  47.592499  46.717499  41.317501  2483905200  41.602501  45.218109
2018-06-01  48.549999  46.277500  45.182499  2110498000  46.997501  44.964947
2018-07-01  48.990002  47.572498  45.855000  1574765600  45.955002  46.223221
2018-08-01  57.217499  56.907501  49.327499  2801275600  49.782501  55.293457
2018-09-01  57.417500  56.435001  53.825001  2715888000  57.102501  55.026672
2018-10-01  58.367500  54.715000  51.522499  3158994000  56.987499  53.349594
2018-11-01  55.590000  44.645000  42.564999  3845305600  54.762501  43.530891
2018-12-01  46.235001  39.435001  36.647499  3595690000  46.115002  38.585068
2019-01-01  42.250000  41.610001  35.500000  3312349600  38.722500  40.713184
2019-02-01  43.967499  43.287498  41.482498  1890162400  41.740002  42.354534
2019-03-01  49.422501  47.487499  42.375000  2603925600  43.570000  46.663288
2019-04-01  52.119999  50.167500  47.095001  2024470800  47.910000  49.296772
2019-05-01  53.827499  43.767502  43.747501  2957826400  52.470001  43.007851
2019-06-01  50.392502  49.480000  42.567501  2060874800  43.900002  48.808441
2019-07-01  55.342499  53.259998  49.602501  1895406800  50.792500  52.537140
2019-08-01  54.507500  52.185001  48.145000  2724326400  53.474998  51.476730
2019-09-01  56.605000  55.992500  51.055000  2170268400  51.607498  55.442406
2019-10-01  62.437500  62.189999  53.782501  2433210800  56.267502  61.579021
2019-11-01  67.000000  66.812500  62.290001  1793326000  62.384998  66.156113
2019-12-01  73.492500  73.412498  64.072502  2388794800  66.817497  72.909500